/* src/pages/public/ProductDetailPage.module.css */

.imageContainer {
  /* Thiết lập chiều cao tối đa cho container chứa ảnh */
  max-height: 500px;
  width: 100%;
  overflow: hidden; /* Ẩn phần ảnh bị thừa */
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  /* Đảm bảo ảnh lấp đầy container mà không bị méo */
  object-fit: cover;
}
